.divclass {
    width: inherit;
    background-color: rgb(210, 129, 129);

    display: block;
    padding-right: 20px;
    margin: 10px 3% 0 40%;
    font-size: 20px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
 
}
body {
    box-sizing: border-box;
}
.chatdisplay{
    width: inherit;
    height: 80vh;
    overflow-y: scroll;
    overflow-wrap: break-word;

    border: solid 3px;
    margin-bottom: 10px;
    vertical-align: bottom;
    position: relative;
}
p{
    padding-left: 20px;
}

button{
    margin-bottom:50px
}